{% extends 'exort/base.html' %}
 
{% block title %}Главная{% endblock %}

{% block content %}

    <div class="wrapper">
      <div class="container d-flex flex-wrap pop">
        <span>Популярное</span>
        <span id="right" class="text-muted">Показано постов: {{ post_count }}</span>
      </div>
      <div></div>
        {% for el in cards %}
          <div class="card mb-3">
            <a href="{{ el.link }}" style="text-decoration: none; color: black;">
              <img src="{{ el.image }}" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">{{ el.title }}</h5>
              <p class="card-text">{{ el.description }}</p>
              </a>
              <p class="card-text"><small class="text-muted">{{ el.city }}</small></p>
              {% if el.owner == us %}
              <a href="{% url 'post-delete' el.id %}" class=" btn-danger">Удалить</a>
              <a href="{% url 'post-update' el.id %}" class=" btn-danger">Обновить карточку</a>
              {% endif %}

            </div>
       </div>
        {% endfor %}
{% endblock %}

