html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

body {
    background-color: whitesmoke;
}

.wrapper {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    height: auto;
    background-color: whitesmoke;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pop {
    position: relative;
    font-size: 24px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    width: 100%;
}

.card {
    background-color: white;
    margin: 10px;
}

.btn {
    background-color: whitesmoke;
    color: black;
    border: 2px solid;
    width: 150px;
    margin-top: 50px;
    position: fixed;
    left: 1500px;
    top: 800px;
}

.btn:hover {
    background-color: #555555;
    color: white;
}

.button2 {
    width: 150px;
    left: 600px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
  
.button2:hover {
    background-color: #008CBA;
    color: white;
}



.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
  }
  
.rating > input {
opacity: 0;
margin-right: -100%;
}

.rating > label {
position: relative;
display: block;
float: right;
background: url('../images/star-off-big.png');
background-size: 30px 30px;
}

.rating > label:before {
display: block;
opacity: 0;
width: 30px;
height: 30px;
background: url('../images/star-on-big.png');
background-size: 30px 30px;
transition: opacity 0.2s linear;
}
  
.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }

ul {
    margin: 0;
    padding: 0;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}


nav ul li {
    display: inline-block;
}

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    background: #fff;
    padding: 10px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    margin: 0;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


.count{
    text-align:right;
    margin: 0px 400px 0px 0px;
}

.adp{
    margin-right: 300px;
}

